<% if @artists.count == 0 %>
  <p>No results found.</p>
<% else %>  

<div class="container">

  <div class="digg_pagination">
    <div class="page_info col mx-auto">
      <%= page_entries_info @artists, :model => 'artist' %>
    </div>
    <%= will_paginate @artists %>
  </div>

  <table class="table table-responsive table-striped table-hover mx-auto">
   <thead class="table-info">
    <tr>
      <th scope="col">English Name</th>
      <th scope="col">Japanese Name</th>
      <th scope="col">Email</th>
      <th scope="col">Royalty Percent</th>
      <th scope="col">Report Frequency</th>
      <th scope="col">Payment Frequency</th>
      <th scope="col">Pending Payment</th>
      <th scope="col">Titles</th>
      <th scope="col">Sales</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
   </thead> 
    <% @artists.each_with_index do |artist, index| %>
    <tr>
    <th scope="row"><%= link_to(artist.e_name, {:action => 'show', :id => artist.id}, :class => 'action show') %></th>
    <td><%= artist.j_name %></td>
    <td><%= artist.email %></td>
    <td><%= artist.percent %>%</td>
    <td><%= artist.r_frequency %> Months</td>
    <td><%= artist.p_frequency %> Months</td>
    <% if artist.pending == 0 %>
      <td style="color:green">$<%= number_with_precision(artist.pending, :precision => 2) %></td>
    <% else %>
       <td style="color:red">$<%= number_with_precision(artist.pending, :precision => 2) %></td>
    <% end %>   
      
    <td><%= artist.titles.count %></td>
    <td><%= artist.sales.count %></td>
    <td><%= link_to :action => "edit", :id => artist.id do %>
            <%= image_tag("edit.png", :size => "25x25", :title => "Edit", :alt => "Edit") %>
        <% end %>
    </td>
    <td><%= link_to :action => "delete", :id => artist.id do %>
            <%= image_tag("delete.png", :size => "25x25", :title => "Delete", :alt => "Delete") %>
        <% end %>
    </td>
    </tr>
    <% end %>
  </table>

  <div class="digg_pagination">
    <div class="page_info col mx-auto">
      <%= page_entries_info @artists, :model => 'artist' %>
    </div>
    <%= will_paginate @artists %>
  </div>

  <div id='filler-space' style="margin-left:38%; position:relative; z-index:-100; height:200px; width:200px">
   </div>

   <div id='paginate-load' style="display:inline; margin-left:38%; position:relative; z-index:-100;">
      <%= image_tag("batflick.gif", :size => "200x200", :title => "Load", :alt => "Load") %>
   </div>

<% end %>


<script type="text/javascript">
   $(document).ready(function(){

    $(".pagination").addClass("col-sm-4 row mx-auto");
  });
  
</script>