<% if @artist.titles.count == 0 %>
  <p>No results found.</p>
<% else %>  

 <div class="container"> 

  <div class="row">
    <div class="col-offset-6">
        <div class="digg_pagination">
            <div class="page_info" style="margin-left:45%">
              <%= page_entries_info @titles %>
            </div>
            <div style="margin-left:50%">
              <%= will_paginate @titles %>
            </div>  
        </div> 
    </div> 
  </div>
  <table class="table table-responsive table-striped table-hover mx-auto">
   <thead class="thead-inverse">
    <tr>
      <th scope="col">English Title</th>
      <th scope="col">Japanese Title</th>
      <th scope="col">SRP</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
   </thead>
    <% @titles.each_with_index do |title, index| %>
    <tr>
      <th scope="row"><%= link_to(title.e_title, {:controller => 'titles', :action => 'show', :id => title.id}, :class => 'action show') %></th>
      <td><%= title.j_title %></td>
      <td>$<%= title.srp %></td>
      <td><%= link_to("Edit", {:controller => 'titles', :action => 'edit', :id => title.id}, :class => 'action edit') %></td>
      <td><%= link_to("Delete", {:controller => 'titles', :action => 'delete', :id => title.id}, :class => 'action delete') %></td>
    </tr>
    <% end %>
  </table>

  <div class="row">
    <div class="col-offset-6">
        <div class="digg_pagination">
            <div class="page_info" style="margin-left:45%">
              <%= page_entries_info @titles %>
            </div>
            <div style="margin-left:50%">
              <%= will_paginate @titles %>
            </div>  
        </div> 
    </div> 
  </div>

  <div id='filler-space' style="margin-left:38%; position:relative; z-index:-100; height:200px; width:200px">
   </div>

   <div id='paginate-load' style="display:inline; margin-left:38%; position:relative; z-index:-100;">
      <%= image_tag("batflick.gif", :size => "200x200", :title => "Load", :alt => "Load") %>
   </div>
 </div>

 <% end %>