<% if @artist.titles.count == 0 %>
  <p>No results found.</p>
<% else %>  

 <div class="container"> 

  <div class="digg_pagination">
    <div class="page_info row mx-auto">
      <%= page_entries_info @titles, :model => 'title' %>
    </div>
    <%= will_paginate @titles %>
  </div>

  <table class="table table-responsive table-striped table-hover mx-auto">
   <thead class="thead-inverse">
    <tr>
      <th scope="col">English Title</th>
      <th scope="col">Japanese Title</th>
      <th scope="col">SRP</th>
      <th scope="col">Sales</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
   </thead>
    <% @titles.each_with_index do |title, index| %>
    <tr>
      <th scope="row"><%= link_to(title.e_title, {:controller => 'titles', :action => 'show', :id => title.id, :path_marker => "titles_display"}, :class => 'action show') %></th>
      <td><%= title.j_title %></td>
      <td>$<%= title.srp %></td>
      <td><%= title.sales.count %></td>
      <td><%= link_to("Edit", {:controller => 'titles', :action => 'edit', :id => title.id, :path_marker => "titles_display"}, :class => 'action edit') %></td>
      <td><%= link_to("Delete", {:controller => 'titles', :action => 'delete', :id => title.id, :path_marker => "titles_display"}, :class => 'action delete') %></td>
    </tr>
    <% end %>
  </table>

  <div class="digg_pagination">
    <div class="page_info row mx-auto">
      <%= page_entries_info @titles, :model => 'title' %>
    </div>
    <%= will_paginate @titles %>
  </div>

  <div id='filler-space' style="margin-left:38%; position:relative; z-index:-100; height:200px; width:200px">
   </div>

   <div id='paginate-load' style="display:inline; margin-left:38%; position:relative; z-index:-100;">
      <%= image_tag("batflick.gif", :size => "200x200", :title => "Load", :alt => "Load") %>
   </div>
 </div>

 <% end %>


 <script type="text/javascript">
   $(document).ready(function(){

    $(".pagination").addClass("col-sm-3 row mx-auto");
  });
  
</script>