<% if @artist.titles.count == 0 %>
  <p>No results found.</p>
<% else %>  

 <div class="container"> 

  <div class="digg_pagination">
    <div class="page_info col mx-auto">
      <%= page_entries_info @titles, :model => 'title' %>
    </div>
    <%= will_paginate @titles %>
  </div>

  <table class="table table-striped table-hover mx-auto">
   <thead class="thead-inverse">
    <tr>
      <th scope="col">English Title</th>
      <th scope="col">Japanese Title</th>
      <th scope="col">SRP</th>
      <th scope="col">Sales</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
   </thead>
    <% @titles.each_with_index do |title, index| %>
    <tr>
      <th scope="row"><%= link_to(title.e_title, {:controller => 'titles', :action => 'show', :id => title.id, :path_marker => "titles_display"}, :class => 'action show') %></th>
      <td><%= title.j_title %></td>
      <td>$<%= title.srp %></td>
      <td><%= title.sales.count %></td>
      <td>
        <%= link_to :controller => 'titles', :action => "edit", :id => title.id, :path_marker => "titles_display" do %>
            <%= image_tag("edit.png", :size => "25x25", :title => "Edit", :alt => "Edit") %>
        <% end %>
      </td>
      <td>
        <%= link_to :controller => 'titles', :action => "delete", :id => title.id, :path_marker => "titles_display" do %>
            <%= image_tag("delete.png", :size => "25x25", :title => "Delete", :alt => "Delete") %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <div class="digg_pagination">
    <div class="page_info col mx-auto">
      <%= page_entries_info @titles, :model => 'title' %>
    </div>
    <%= will_paginate @titles %>
  </div>

  <div id='filler-space' style="margin-left:38%; position:relative; z-index:-100; height:200px; width:200px">
   </div>

   <div id='paginate-load' style="display:inline; margin-left:38%; position:relative; z-index:-100;">
      <%= image_tag("batflick.gif", :size => "200x200", :title => "Load", :alt => "Load") %>
   </div>
 </div>

 <% end %>


 <script type="text/javascript">
   $(document).ready(function(){

    $(".pagination").addClass("col-sm-4 row mx-auto");
  });
  
</script>