<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap.min", "pagination" %>
</head>

<style>
 
</style>


<%= link_to :controller => 'home', :action => 'index' do %>
  <button type="button" class="btn btn-info">Back to Main Menu</button>
<% end %>

<h1>Artists</h1>

<div class="sort_paginate_ajax"><%= render 'artists' %></div>

<div class="container">
  <div class="add-form">

      <h2>Add An artist</h2>

      <div>
        <%= form_for(:artist, :url => {:action => 'create'}) do |f| %>
        <table>
         <tr>
            <td><%= f.label(:e_name, "English Name") %></td>
            <td><%= f.text_field(:e_name) %></td>
         </tr>


         <tr>
            <td><%= f.label(:j_name, "Japanese Name") %></td>
            <td><%= f.text_field(:j_name) %></td>
         </tr>

         <tr>
            <td><%= f.label(:email, "Email") %></td>
            <td><%= f.text_field(:email) %></td>
         </tr>


         <tr>
            <td><%= f.label(:percent, "Royalty Percent") %></td>
            <td><%= f.number_field(:percent, min: 0, max:100) %>%</td>
         </tr>


         <tr>
            <td><%= f.label(:r_frequency, "Report Frequency") %></td>
            <td><%= f.number_field(:r_frequency, min: 0, max:12) %> Months</td>
         </tr>


         <tr>
            <td><%= f.label(:p_frequency, "Payment Frequency") %></td>
            <td><%= f.number_field(:p_frequency, min: 0, max:12) %> Months</td>
         </tr>

          <tr>
            <td>&nbsp;</td>
            <td><%= submit_tag("Submit") %></td>
          </tr>
        </table>
        <% end %> 
      </div>

  </div> <!-- end add-form -->
</div> <!-- end container -->


<script type="text/javascript">
  $(document).ready(function(){
    var width_container = 0;
    var pagination = function() {
    $("div.pagination").children('span').each(function(i) {
         width_container += (parseFloat($(this).css("width")) + 5 )/2;
    });

   
    $("div.pagination").children('em').each(function(i) {
        width_container += (parseFloat($(this).css("width")) + 5 )/2;
    });


    $("div.pagination").children('a').each(function(i) {
        width_container += (parseFloat($(this).css("width")) + 5 )/2;
    });
  
   var width_test = 0

    $("div.pagination").children().each(function(i) {
        width_test += (parseFloat($(this).css("width")) + 5 )/2;
     });

    $("div.pagination").css("width", width_container);

  }
  
  pagination();


</script>