<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap.min", "pagination" %>
</head>


<%= link_to :controller => 'artists', :action => 'show', :id => @artist.id do %>
  <button type="button" class="btn btn-info">Back to Artist</button>
<% end %>

<h1><%= @artist.e_name %>'s Sales</h1>

<div class="sort_paginate_ajax"><%= render 'sales_display' %></div>

