<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "bootstrap.min", "jquery.slim.min", "tether.min" %>
</head>


<button type ="button" class="btn btn-info"><%= link_to("<< Back to Artist", {:controller => 'artists', :action => 'show', :id => @artist.id}) %></button>

<h1><%= @artist.e_name %>'s Sales</h1>

<ul>
  
  <table class="table table-responsive table-striped table-hover">
   <thead class="table-warning">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Format</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
   </thead>
    <% @sales.each_with_index do |sale, index| %>
    <tr>
    <th scope="row"><%= index + 1 %></th>
    <td><%= sale.title.e_title %></td>
    <td><%= sale.first_name %></td>
    <td><%= sale.last_name %></td>
    <td><%= sale.email %></td>
    <td><%= sale.format %></td>
    <td>$<%= sale.price %></td>
    <td><%= sale.created_at.strftime(" %m/%d/%Y %I:%M%p") %></td>
    </tr>
    <% end %>
  </table>

</ul>


</br>

