<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "bootstrap.min", "jquery.slim.min", "tether.min" %>
</head>

<h1><%= @artist.e_name %></h1>

<%= link_to("<< Back to Artist List", {:controller => 'artists', :action => 'index'}, :class => 'back-link') %>

<div>
  <table class="table table-responsive">
    <tr>
      <td>English Name</td>
      <td><%= @artist.e_name %></td>
    </tr>
    <tr>
     <td>Japanese Name</td>
      <td><%= @artist.j_name %></td>
    </tr>
    <tr>
     <td>Email</td>
      <td><%= @artist.email %></td>
    </tr>
    <tr>
     <td>Titles</td>
      <td><%= link_to(@artist.titles.count, {:action => 'titles_display', :id => @artist.id}, :class => 'action show') %></td>
    </tr>
    <tr>
     <td>Sales</td>
      <td><%= link_to(@artist.sales.count, {:action => 'sales_display', :id => @artist.id}, :class => 'action show') %></td>
    </tr>
  </table>
</div> 

</br>

<%= link_to("View Titles", {:action => 'titles_display', :id => @artist.id}, :class => 'action show') %>
</br>
<%= link_to("View Sales", {:action => 'sales_display', :id => @artist.id}, :class => 'action show') %>

