<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "bootstrap.min", "jquery.slim.min", "tether.min" %>
</head>


<%= link_to :controller => 'artists', :action => 'index' do %>
  <button type="button" class="btn btn-info">Back to Artist List</button>
<% end %>

<h1><%= @artist.e_name %></h1>

<div>
  <table class="table table-responsive">
    <tr>
      <td>English Name</td>
      <td><%= @artist.e_name %></td>
    </tr>
    <tr>
     <td>Japanese Name</td>
      <td><%= @artist.j_name %></td>
    </tr>
    <tr>
     <td>Email</td>
      <td><%= @artist.email %></td>
    </tr>    
    <tr>
     <td>Royalty Percent</td>
      <td><%= @artist.percent %>%</td>
    </tr>
    <tr>
     <td>Report Frequency</td>
      <td><%= @artist.r_frequency %> Months</td>
    </tr>
    <tr>
     <td>Payment Frequency</td>
      <td><%= @artist.p_frequency %> Months</td>
    </tr>
    

    <tr>
     <td>Titles</td>
      <td><%= link_to(@artist.titles.count, {:action => 'titles_display', :id => @artist.id}, :class => 'action show') %></td>
    </tr>
    <tr>
     <td>Sales</td>
      <td><%= link_to(@artist.sales.count, {:action => 'sales_display', :id => @artist.id}, :class => 'action show') %></td>
    </tr>
  </table>
</div> 

</br>
 <%= link_to :action => 'edit', :id => @artist.id, :path_marker => "artists_show", :class => 'action edit' do %>
    <button type="button" class="btn btn-outline-info btn-lg">Edit</button>
 <% end %>
 </br>
 <%= link_to :action => 'delete', :id => @artist.id, :path_marker => "artists_show", :class => 'action delete' do %>
    <button type="button" class="btn btn-outline-info btn-lg">Delete</button>
 <% end %>
