<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<head>
  <%= stylesheet_link_tag 'bootstrap.min' %>

  <%= javascript_include_tag "bootstrap.min", "jquery.slim.min", "tether" %>
</head>

<h1>Royalty Reports</h1>

<div class="container">
   <div class="col-10 col-offset-1 bg-info">
	<%= link_to("Manage Artists", {:controller => 'titles', :action => 'index'}, :class => 'home-nav') %>
	</br>

	<%= link_to("View Sales", {:controller => 'orders', :action => 'index'}, :class => 'home-nav') %>

	</br>
   </div>	
</div><!--container-->

</br></br></br></br>