<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "bootstrap.min", "jquery.slim.min", "tether.min" %>
</head>

<h1>Royalty Reports</h1>

</br>
<nav class="navbar navbar-inverse navbar-toggleable-sm bg-danger">
	<div class="container">
	   <div class="navbar-nav mx-auto">
		<%= link_to("Manage Artists", {:controller => 'artists', :action => 'index'}, :class => 'nav-item nav-link') %>
	    <%= link_to("View Titles", {:controller => 'titles', :action => 'index'}, :class => 'nav-item nav-link') %>
		<%= link_to("View Sales", {:controller => 'sales', :action => 'index'}, :class => 'nav-item nav-link') %>
	   </div>	
	 </div><!-- navbar-nav -->
	</div><!--container-->
</nav> <!---nav---->
