<h1>Customers</h1>

<%= link_to("<< Back to Main Menu", {:controller => 'home', :action => 'index'}, :class => 'back-link') %>

<ul>
  
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
    <% @customers.each do |customer| %>
    <tr>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.email %></td>
    <td><%= link_to("[View Orders]", {:action => 'orders', :email => customer.email}, :class => 'action orders') %></td>
    </tr>
    <% end %>
  </table>

</ul>


