<h1>Orders</h1>

<%= link_to("<< Back to Main Menu", {:controller => 'home', :action => 'index'}, :class => 'back-link') %>

<ul>
  
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Title</th>
      <th>Order Date</th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
    <td><%= order.first_name %></td>
    <td><%= order.last_name %></td>
    <td><%= order.email %></td>
    <td><%= order.title %></td>
    <td><%= order.created_at %></td>
    <td><%= link_to("[Delete]", {:action => 'delete', :id => order.id}, :class => 'action delete') %></td>
    </tr>
    <% end %>
  </table>

</ul>



<h2>Add An Order</h2>

<div>
  <%= form_for(:order, :url => {:action => 'create'}) do |f| %>
  <table>
   <tr>
      <td><%= f.label(:first_name, "First Name") %></td>
      <td><%= f.text_field(:first_name) %></td>
   </tr>


   <tr>
      <td><%= f.label(:last_name, "Last Name") %></td>
      <td><%= f.text_field(:last_name) %></td>
   </tr>

   <tr>
      <td><%= f.label(:email, "Email") %></td>
      <td><%= f.text_field(:email) %></td>
   </tr>

    <tr>
      <td><%= f.label(:title, "Title") %></td>
      <td><%= f.select :title, Doujinshi.all.collect {|x| [ x.title ] }, { :include_blank => true } %><td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Submit") %></td>
    </tr>
  </table>
  <% end %> 
</div>