<% if @title.sales.count == 0 %>
  <p>No results found.</p>
<% else %>  


 <div class="container"> 

  <div class="row">
    <div class="col-offset-6">
        <div class="digg_pagination">
            <div class="page_info" style="margin-left:45%">
              <%= page_entries_info @sales, :model => 'sale' %>
            </div>
            <div style="margin-left:50%">
              <%= will_paginate @sales %>
            </div>  
        </div> 
    </div> 
  </div> 

  <table class="table table-responsive table-striped table-hover mx-auto">
   <thead class="table-primary">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Format</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
   </thead>
    <% @sales.each_with_index do |sale, index| %>
    <tr>
    <th scope="row"><%= sale.title.e_title %></th>
    <td><%= sale.first_name %></td>
    <td><%= sale.last_name %></td>
    <td><%= sale.email %></td>
    <td><%= sale.format %></td>
    <td>$<%= sale.price %></td>
    <td><%= sale.created_at.strftime(" %m/%d/%Y %I:%M%p") %></td>
    </tr>
    <% end %>
  </table>

  <div class="row">
    <div class="col-offset-6">
        <div class="digg_pagination">
            <div class="page_info" style="margin-left:45%">
              <%= page_entries_info @sales, :model => 'sale' %>
            </div>
            <div style="margin-left:50%">
              <%= will_paginate @sales %>
            </div>  
        </div> 
    </div> 
  </div> 

  <div id='filler-space' style="margin-left:38%; position:relative; z-index:-100; height:200px; width:200px">
   </div>

   <div id='paginate-load' style="display:inline; margin-left:38%; position:relative; z-index:-100;">
      <%= image_tag("batflick.gif", :size => "200x200", :title => "Load", :alt => "Load") %>
   </div>

</div>

<% end %>