<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "bootstrap.min", "jquery.slim.min", "tether.min" %>
</head>

<% if @path_marker == "titles_display" %>
    <%= link_to :controller => 'artists', :action => 'titles_display', :id => @title.artist_id, :path_params => "titles_display" do %>
       <button type="button" class="btn btn-info">Back to Title List</button>
    <% end %>
<% elsif @path_marker == "titles_show"%>
    <%= link_to :controller => 'titles', :action => 'show', :id => @title.id, :path_params => "titles_show" do %>
       <button type="button" class="btn btn-info">Back to Title Details</button>
    <% end %>
<% else %>
  <%= link_to :controller => 'titles', :action => 'index' do %>
    <button type="button" class="btn btn-info">Back to Title List</button>
  <% end %>
<% end %>

<div class="titles delete">
  <h2>Delete <span style="font-weight:bold"><%= @title.e_title %></span></h2>

  <%= form_for(:title, :url => {:action => 'destroy', :id => @title.id}) do |f| %>

    <p>Are you sure you want to permanently delete this title?</p>
    <p class="reference-name text-danger"><%= @title.e_title %></p>
    
    <div class="form-buttons">
      <%= submit_tag("Delete Title") %>
    </div>
  <% end %>
</div>   