<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap.min", "pagination" %>
</head>



<%= link_to :controller => 'home', :action => 'index' do %>
  <button type="button" class="btn btn-info">Back to Main Menu</button>
<% end %>

<h1>Titles</h1>

<div class="sort_paginate_ajax"><%= render 'titles' %></div>


<h2>Add a Title</h2>

<div>
  <%= form_for(:title, :url => {:action => 'create'}) do |f| %>
  <table>
      
    <tr>
      <td><%= f.label(:artist_id, "Artist") %></td>
      <td><%= f.select :artist_id, Artist.all.collect {|x| [ x.e_name, x.id ] }, { :include_blank => true } %><td>
    </tr>


    <tr>
      <td><%= f.label(:e_title, "English Title") %></td>
      <td><%= f.text_field(:e_title) %></td>
    </tr>

     <tr>
      <td><%= f.label(:j_title, "Japanese Title") %></td>
      <td><%= f.text_field(:j_title) %></td>
    </tr>

    <tr>
      <td><%= f.label(:srp, "SRP") %></td>
      <td><%= f.text_field(:srp) %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Submit") %></td>
    </tr>
  </table>
  <% end %> 
</div>