<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "bootstrap.min", "jquery.slim.min", "tether.min" %>
</head>



<%= link_to :controller => 'home', :action => 'index' do %>
  <button type="button" class="btn btn-info">Back to Main Menu</button>
<% end %>

<h1>Titles</h1>
 <div class="container"> 
  <table class="table table-responsive table-striped table-hover mx-auto">
   <thead class="table-info">
    <tr>
      <th scope="col">#</th>
      <th scope="col">English Title</th>
      <th scope="col">Japanese Title</th>
      <th scope="col">Author</th>
      <th scope="col">SRP</th>
      <th scope="col">Sales</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
   </thead> 
    <% @titles.each_with_index do |title, index| %>
    <tr>
    <th scope="row"><%= index + 1 %></th>
    <td><%= title.e_title %></td>
    <td><%= title.j_title %></td>
    <td><%= title.artist.e_name %></td>
    <td>$<%= title.srp %></td>
    <td><%= title.sales.count %></td>
    <td><%= link_to :action => "edit", :title => "Edit", :id => title.id do %>
            <%= image_tag("edit.png", :size => "50x50", :alt => "Edit") %>
        <% end %>
    </td>
    <td><%= link_to :action => "delete", :title => "Delete", :id => title.id do %>
            <%= image_tag("delete.png", :size => "50x50", :alt => "Delete") %>
        <% end %>
    </td>
    </tr>
    <% end %>
  </table>

  <p><%= @titles.count %> Results</p> 
</div>
</br>
</br>
</br>

<h2>Add a Title</h2>

<div>
  <%= form_for(:title, :url => {:action => 'create'}) do |f| %>
  <table>
      
    <tr>
      <td><%= f.label(:artist_id, "Artist") %></td>
      <td><%= f.select :artist_id, Artist.all.collect {|x| [ x.e_name, x.id ] }, { :include_blank => true } %><td>
    </tr>


    <tr>
      <td><%= f.label(:e_title, "English Title") %></td>
      <td><%= f.text_field(:e_title) %></td>
    </tr>

     <tr>
      <td><%= f.label(:j_title, "Japanese Title") %></td>
      <td><%= f.text_field(:j_title) %></td>
    </tr>

    <tr>
      <td><%= f.label(:srp, "SRP") %></td>
      <td><%= f.text_field(:srp) %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Submit") %></td>
    </tr>
  </table>
  <% end %> 
</div>