<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap.min", "pagination" %>
</head>


<%= link_to :controller => 'titles', :action => 'show', :id => @title.id do %>
  <button type="button" class="btn btn-info">Back to Title</button>
<% end %>

<h1><%= @title.e_title %> Sales</h1>

<div class="sort_paginate_ajax"><%= render 'sales_display' %></div>