<head>
 <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "bootstrap.min", "jquery.slim.min", "tether.min" %>
</head>




<%= link_to :controller => 'home', :action => 'index' do %>
  <button type="button" class="btn btn-info">Back to Main Menu</button>
<% end %>

<h1>Sales</h1>


<div class="container"> 
  <table class="table table-responsive table-striped table-hover mx-auto">
   <thead class="thead-inverse">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Artist</th>
      <th scope="col">Title</th>
      <th scope="col">Format</th>
      <th scope="col">Price</th>
      <th scope="col">Order Date</th>
    </tr>
   </thead> 
    <% @sales2.each_with_index do |sale, index| %>
    <tr>
    <th scope="row"><%= sale.id %></th>
    <td><%= sale.first_name %></td>
    <td><%= sale.last_name %></td>
    <td><%= sale.email %></td>
    <td><%= sale.artist.e_name %></td>
    <td><%= sale.title.e_title %></td>
    <td><%= sale.format %></td>
    <td>$<%= sale.price %></td>
    <td><%= sale.created_at.strftime(" %m/%d/%Y %I:%M%p") %></td>
    </tr>
    <% end %>
  </table>

<div class="row">
  <div class="col-offset-6">
    <div class="digg_pagination">
        <div class="page_info" style="margin-left:45%">
          <%= page_entries_info @sales2 %>
        </div>
        <div style="margin-left:50%">
          <%= will_paginate @sales2 %>
        </div>  
    </div>
  </div>  

  </br>

   <div id='paginate-load' style="display:inline; margin-left:42%; position:relative; z-index:-100; top:-18%">
      <%= image_tag("load.gif", :size => "150x150", :title => "Load", :alt => "Load") %>
   </div>

</div> <!---container---->
<p> ---------------------------------------------------------------------------</p>




<script type="text/javascript">
  $( document ).ready(function() {

  // hide spinner

  $("#paginate-load").hide();

  

  $(document).on("page:fetch", function(){
  $("#paginate-load").show();
});

$(document).on("page:receive", function(){
  $("#paginate-load").hide();
});




   $(".pagination a").on("click", function(){

  //window.scrollTo(0,0);

  // Some code to show loader on screen

  $("#paginate-load").show();

  //$('#paginate-load').html('Loading');
   });



  // show spinner on AJAX start
  $(document).ajaxStart(function(){
    $("#paginate-load").show();
  });

  // hide spinner on AJAX stop
  $(document).ajaxStop(function(){
    $("#paginate-load").hide();
  });






});










$('#will_paginate_id').bind('click', function(event){

  //window.scrollTo(0,0);

  // Some code to show loader on screen

  $('#paginate-load').html('Loading');
});


</script>

























<% if @sales.count == 0 %>
  <p>No results found.</p>
<% else %>  

 <div class="container"> 
  <table class="table table-responsive table-striped table-hover mx-auto">
   <thead class="thead-inverse">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Artist</th>
      <th scope="col">Title</th>
      <th scope="col">Format</th>
      <th scope="col">Price</th>
      <th scope="col">Order Date</th>
    </tr>
   </thead> 
    <% @sales.each_with_index do |sale, index| %>
    <tr>
    <th scope="row"><%= index + 1 %></th>
    <td><%= sale.first_name %></td>
    <td><%= sale.last_name %></td>
    <td><%= sale.email %></td>
    <td><%= sale.artist.e_name %></td>
    <td><%= sale.title.e_title %></td>
    <td><%= sale.format %></td>
    <td>$<%= sale.price %></td>
    <td><%= sale.created_at.strftime(" %m/%d/%Y %I:%M%p") %></td>
    </tr>
    <% end %>
  </table>
  <p><%= @sales.count %> Results</p> 
</div>

<% end %>