<head>
 <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "bootstrap.min", "jquery.slim.min", "tether.min" %>
</head>


<h1>Sales</h1>

<%= link_to("<< Back to Main Menu", {:controller => 'home', :action => 'index'}, :class => 'back-link') %>

<ul>
  
  <table class="table table-responsive table-striped">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Artist</th>
      <th>Title</th>
      <th>Format</th>
      <th>Price</th>
      <th>Order Date</th>
    </tr>
    <% @sales.each_with_index do |sale, index| %>
    <tr>
    <td><%= index + 1 %></td>
    <td><%= sale.first_name %></td>
    <td><%= sale.last_name %></td>
    <td><%= sale.email %></td>
    <td><%= sale.artist.e_name %></td>
    <td><%= sale.title.e_title %></td>
    <td><%= sale.format %></td>
    <td>$<%= sale.price %></td>
    <td><%= sale.created_at.strftime(" %m/%d/%Y %I:%M%p") %></td>
    </tr>
    <% end %>
  </table>

</ul>

