<head>
  <%= stylesheet_link_tag  "application", :media => "all" %>


<%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap3.min", "bootstrap-1.4.1-datepicker.min", "bootstrap-datepicker.da.min" %>


</head>

<style>
  .notype {
    cursor:not-allowed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


body {
  width: 100%;
  min-height: 500px;
  margin: 3em auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7cac9+0,92a8d1+100 */
  background: #f7cac9;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f7cac9 0%, #92a8d1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 fallback on horizontal gradient */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}



</style>

<div class="container">

<h1 class="mt-2">Generate Royalty Report</h1>



<div class="aoyue-select animated zoomIn">
    <!-- You can toggle select (disabled) -->
    <input type="radio" name="option">
    <i class="toggle icon icon-arrow-down"></i>
    <i class="toggle icon icon-arrow-up"></i>
    <span class="placeholder">Choose Artist</span>
    <label class="option">
      <input type="radio" name="option">
      <span class="title animated fadeIn"><i class="icon icon-speedometer"></i>Speedometer</span>
    </label>
    <label class="option">
      <input type="radio" name="option">
      <span class="title animated fadeIn"><i class="icon icon-fire"></i>Fire</span>
    </label>
    <label class="option">
      <input type="radio" name="option" disabled>
      <span class="title animated fadeIn"><i class="icon icon-handbag"></i>Handbag</span>
    </label>
    <label class="option">
      <input type="radio" name="option">
      <span class="title animated fadeIn"><i class="icon icon-badge"></i>Badge</span>
    </label>
</div>














<div class="mt-5">
  <%= form_for(:title, :url => {:action => 'report'}) do |f| %>

     <div class="aoyue-select animated zoomIn">
	  <input type="radio" name="option">
	    <i class="toggle icon icon-arrow-down"></i>
	    <i class="toggle icon icon-arrow-up"></i>
	    <span class="placeholder">Choose Artist</span>
		<% Artist.all.each do |a| %>
		  <%= f.label :e_name, a.e_name %>
		  <%= f.radio_button :id, a.id %>
		<% end %>
</div>



  <table>
    <tr>
      <td><%= f.label(:artist_id, "Select Artist") %></td>
      <td><div class="aoyue-select"><%= f.select :artist_id, Artist.all.collect {|x| [ x.e_name, x.id ] }, { :include_blank => true } %></div><td>
    </tr>

    <tr>
      <td><%= f.label(:start_date, "Start Date") %>
      <td>
        <div class="input-group date" id="dateRangePicker1" >
          <%= f.text_field :start_date, :class => "form-control", :readonly => 'readonly', :disabled => "disabled" %>
          <span class="input-group-addon add-on">
             <i class="glyphicon glyphicon-calendar"></i>
           </span>  
        </div>
      </td>  
</td>

     <td style="width:40px"></td>
      <td><%= f.label(:end_date, "End Date") %></td>
      <td>
        <div class="input-group date" id="dateRangePicker2" >
          <%= f.text_field :end_date, :class => "form-control", :readonly => 'readonly', :disabled => "disabled" %>
          <span class="input-group-addon add-on">
             <i class="glyphicon glyphicon-calendar"></i>
           </span>  
        </div>
      </td>
    </tr>

    <tr>

      <td>&nbsp;</td>
      <td class="mt-5"><%= submit_tag("Submit") %></td>
    </tr>
  </table>
  <% end %> 
</div>


<script type="text/javascript">
  $(document).ready(function(){

  	$('input.form-control').attr("data-provide", "datepicker");

  	$(".aoyue-select > label").attr("class", "option");
  	$(".aoyue-select > label").append("<span class='title animated fadeIn'><i class='icon icon-fire'></i>Hey</span>");

  /*	$(document).off('.datepicker.data-api');

  	$('i').on('click', function(e){
        $(document).on('.datepicker.data-api');
        $('.datepicker').datepicker({
        
    	//ignoreReadonly: true
    });
    

          console.log("Clicked");



     }); 

     */
    
  /*  $('div').on('click', function(e){
    	//alert("Pressed");
        e.preventDefault();
        return false;
     })  */

   /* $('.datepicker').datepicker({
    	//ignoreReadonly: true
    });  */







    //$('#enable').click(function(){
 $('#dateRangePicker1, #dateRangePicker2')
        .datepicker({
            format: 'dd/mm/yyyy',
            startDate: '01/01/2016',
            endDate: '12/30/2025',
			autoclose: true,
			enableOnReadonly: false
        });
	});
    //});

$('#disable').click(function(){
 $(document).off('.datepicker.data-api');





  });

</script>