<head>
  <%= stylesheet_link_tag  "application", :media => "all" %>


<%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap3.min", "bootstrap-1.4.1-datepicker.min", "bootstrap-datepicker.da.min" %>


</head>

<style>
  .notype {
    cursor:not-allowed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
</style>

<div class="container">

<h1 class="mt-2">Generate Royalty Report</h1>


<div class="mt-5">
  <%= form_for(:title, :url => {:action => 'report'}) do |f| %>
  <table>
    <tr>
      <td><%= f.label(:artist_id, "Select Artist") %></td>
      <td><div class="aoyue-select"><%= f.select :artist_id, Artist.all.collect {|x| [ x.e_name, x.id ] }, { :include_blank => true } %></div><td>
    </tr>

    <tr>
      <td><%= f.label(:start_date, "Start Date") %>
      <td>
        <div class="input-group date" id="dateRangePicker1" >
          <%= f.text_field :start_date, :class => "form-control", :readonly => 'readonly', :disabled => "disabled" %>
          <span class="input-group-addon add-on">
             <i class="glyphicon glyphicon-calendar"></i>
           </span>  
        </div>
      </td>  
</td>

     <td style="width:40px"></td>
      <td><%= f.label(:end_date, "End Date") %></td>
      <td>
        <div class="input-group date" id="dateRangePicker2" >
          <%= f.text_field :end_date, :class => "form-control", :readonly => 'readonly', :disabled => "disabled" %>
          <span class="input-group-addon add-on">
             <i class="glyphicon glyphicon-calendar"></i>
           </span>  
        </div>
      </td>
    </tr>

    <tr>

      <td>&nbsp;</td>
      <td class="mt-5"><%= submit_tag("Submit") %></td>
    </tr>
  </table>
  <% end %> 
</div>


<script type="text/javascript">
  $(document).ready(function(){

  	$('input').attr("data-provide", "datepicker");

  /*	$(document).off('.datepicker.data-api');

  	$('i').on('click', function(e){
        $(document).on('.datepicker.data-api');
        $('.datepicker').datepicker({
        
    	//ignoreReadonly: true
    });
    

          console.log("Clicked");



     }); 

     */
    
  /*  $('div').on('click', function(e){
    	//alert("Pressed");
        e.preventDefault();
        return false;
     })  */

   /* $('.datepicker').datepicker({
    	//ignoreReadonly: true
    });  */







    //$('#enable').click(function(){
 $('#dateRangePicker1, #dateRangePicker2')
        .datepicker({
            format: 'dd/mm/yyyy',
            startDate: '01/01/2016',
            endDate: '12/30/2025',
			autoclose: true,
			enableOnReadonly: false
        });
	});
    //});

$('#disable').click(function(){
 $(document).off('.datepicker.data-api');





  });

</script>