<head>
  <%= stylesheet_link_tag  "application", :media => "all" %>

 <!-- <%= javascript_include_tag  #"jquery.slim.min", "tether.min", "bootstrap", "bootstrap-datepicker.min" %> -->
<%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap3.min", "bootstrap-1.4.1-datepicker.min", "bootstrap-datepicker.da.min" %>
<!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker.min.css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.min.css">

 <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/locales/bootstrap-datepicker.da.min.js"></script>-->

</head>

<style>
  .notype {
    cursor:not-allowed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
</style>

<div class="container">

<h1 class="mt-2">Generate Royalty Report</h1>


<div class="mt-5">
  <%= form_for(:title, :url => {:action => 'report'}) do |f| %>
  <table>
    <tr>
      <td><%= f.label(:artist_id, "Select Artist") %></td>
      <td><%= f.select :artist_id, Artist.all.collect {|x| [ x.e_name, x.id ] }, { :include_blank => true } %><td>
    </tr>

    <tr>
      <td><%= f.label(:start_date, "Start Date") %>
      <td>
        <div class="input-group date" data-provide="datepicker">
          <%= f.text_field :start_date, :class => "form-control notype", :readonly => 'readonly' %>
          <span class="input-group-addon">
             <i class="glyphicon glyphicon-th"></i>
           </span>  
        </div>
      </td>  
</td>

     <td style="width:40px"></td>
      <td><%= f.label(:end_date, "End Date") %></td>
      <td><div class="input-group date" data-provide="datepicker">
          <%= f.text_field :end_date, :class => "form-control notype", :readonly => 'readonly' %>
          <span class="input-group-addon">
             <i class="glyphicon glyphicon-th"></i>
           </span>  
        </div>
      </td>
    </tr>

    <tr>

    

    <div class="input-group input-append date" id="dateRangePicker">
                        <input type="text" data-provide="datepicker" class="form-control" name="date" id="kalib_dato" disabled readonly />
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
<button type="button" class="btn btn-default" id="enable">Enable</button>
<button type="button" class="btn btn-default" id="disable">Disable</button>



      <td>&nbsp;</td>
      <td class="mt-5"><%= submit_tag("Submit") %></td>
    </tr>
  </table>
  <% end %> 
</div>


<script type="text/javascript">
  $(document).ready(function(){

  /*	$(document).off('.datepicker.data-api');

  	$('i').on('click', function(e){
        $(document).on('.datepicker.data-api');
        $('.datepicker').datepicker({
        
    	//ignoreReadonly: true
    });
    

          console.log("Clicked");



     }); 

     */
    
  /*  $('div').on('click', function(e){
    	//alert("Pressed");
        e.preventDefault();
        return false;
     })  */

   /* $('.datepicker').datepicker({
    	//ignoreReadonly: true
    });  */







    $('#enable').click(function(){
 $('#dateRangePicker')
        .datepicker({
            format: 'dd/mm/yyyy',
            startDate: '01/01/2010',
            endDate: '12/30/2020',
			autoclose: true,
	    	language: 'da',
			enableOnReadonly: false
        });
	});
    });

$('#disable').click(function(){
 $(document).off('.datepicker.data-api');





  });

</script>