<head>
  <%= stylesheet_link_tag "application", :media => "all" %>


  <%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap", "bootstrap-datepicker.min" %>
</head>



<div class="container">

<h1>Generate Royalty Report</h1>


<div class="mt-5">
  <%= form_for(:title, :url => {:action => 'report'}) do |f| %>
  <table>
    <tr>
      <td><%= f.label(:artist_id, "Select Artist") %></td>
      <td><%= f.select :artist_id, Artist.all.collect {|x| [ x.e_name, x.id ] }, { :include_blank => true } %><td>
    </tr>

    <tr>
      <td><%= f.label(:start_date, "Start Date") %>
      <td>
        <div class="input-group date" data-provide="datepicker">
          <%= f.text_field :start_date, :class => "form-control", :readonly => 'readonly' %>
          <span class="input-group-addon">
             <i class="glyphicon glyphicon-th"></i>
           </span>  
        </div>
      </td>  
</td>

     <td><p>-</p></td>
      <td><%= f.label(:end_date, "End Date") %></td>
      <td><div class="input-group date" data-provide="datepicker">
          <%= f.text_field :end_date, :class => "form-control", :readonly => 'readonly' %>
          <span class="input-group-addon">
             <i class="glyphicon glyphicon-th"></i>
           </span>  
        </div>
      </td>
    </tr>

   

    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Submit") %></td>
    </tr>
  </table>
  <% end %> 
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>