<head>
  <%= stylesheet_link_tag  "application", :media => "all" %>


<%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap3.min", "bootstrap-1.4.1-datepicker.min", "bootstrap-datepicker.da.min" %>


</head>

<style>
/*
   input.form-control {
   	pointer-events: none;
   	cursor:not-allowed;
   }

   */
  .notype {
    cursor:not-allowed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


body {
 /* width: 100%;
  min-height: 500px;
  margin: 3em auto;  */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7cac9+0,92a8d1+100 */
/*  background: #f7cac9; */
 /* background: #f5f5f5; */
  /* Old browsers */
 /* background: -moz-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%); */
  /* FF3.6-15 */
 /* background: -webkit-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%); */
  /* Chrome10-25,Safari5.1-6 */
 /* background: linear-gradient(135deg, #f7cac9 0%, #92a8d1 100%); */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 fallback on horizontal gradient */
  font-family: 'Roboto', sans-serif;
 /* letter-spacing: 1px;  */
 position: absolute;
}

i:hover {
	cursor:pointer;
}


/*form {
	position:fixed;
	margin-left: 13%;
}
*/


</style>

<div class="container">

<h1 class="mt-2">Generate Royalty Report</h1>





<div class="mt-5">
  <%= form_tag({controller: "reports", action: "report"}, method: "post", :id => "report_form") do %>

	<div class="aoyue-select animated zoomIn" id="select-form">
	    <!-- You can toggle select (disabled) -->
	    <input type="radio" id="select" name="option" >
	    <i class="toggle icon icon-arrow-down"></i>
	    <i class="toggle icon icon-arrow-up"></i>
	    <span class="placeholder">Select Artist</span>
	    <% @artists.each do |artist| %>
		    <label class="option" for="id_<%= artist.id %>">
		      <input type="radio" class="name_swap" name="option" id="id_<%= artist.id %>" value=<%= artist.id %> >
		      <span class="title animated fadeIn"><i class="icon icon-fire"></i><%= artist.e_name %></span>
		    </label>
	    <% end %>
	</div>

  <table>

    <tr>
      <td><%= label(:start_date, "Start Date") %>
      <td>
        <div class="input-group date" id="dateRangePicker1" >
          <%= text_field_tag "start_date", '', class: "form-control", readonly: "readonly", disabled: "true" %>
          <span class="input-group-addon add-on">
             <i class="glyphicon glyphicon-calendar"></i>
           </span>  
        </div>
      </td>  
</td>

     <td style="width:40px"></td>
      <td><%= label(:end_date, "End Date") %></td>
      <td>
        <div class="input-group date" id="dateRangePicker2" >
          <%= text_field_tag "end_date", '', class: "form-control", readonly: "readonly", disabled: "true" %>
          <span class="input-group-addon add-on">
             <i class="glyphicon glyphicon-calendar"></i>
           </span>  
        </div>
      </td>
    </tr>

    <tr>

      <td>&nbsp;</td>
      <td class="mt-5"><%= submit_tag("Submit", :id => "form-submit") %></td>
    </tr>
  </table>
  <% end %> 
</div>


<script type="text/javascript">
  $(document).ready(function(){

  	var radio_toggle = 1;

  	$('input.form-control').attr("data-provide", "datepicker");

  	$(".aoyue-select > label").attr("class", "option");

  	$('html').click(function(e) {
	  //if clicked element is not your element and parents aren't your div
	// var x = $("i.icon-arrow-down").length;
	// var y = $("#select").prop("checked")
	 //alert(y); 
	  if (e.target.id != 'select-form' && $(e.target).parents('#select-form').length == 0 ) {
	    $("#select").prop("checked", false);
	  }
   });

/*
  	 $("#select").on("click", function(ev) {
  	 	var checked = document.getElementById("select").checked; 
  	 	ev.preventDefault();
  	 	console.log("Before: " + checked);
  	 	if ($("#select").prop("checked", true))  {
    	console.log("Select clicked.");
    	console.log("After: " + checked);
    	//var check = document.getElementById("select").checked; 
    	//alert(check);
           $("#select").prop("checked", false);
        }
        return true;
    }); 

*/
    $("i.toggle.icon-arrow-down").on("click", function() {
       $("#select").prop("checked", true);
       var checked = document.getElementById("select").checked; 
       console.log("Before: " + checked);
    }); 

    $("i.toggle.icon-arrow-up").on("click", function() {
       $("#select").prop("checked", false);
    }); 

 /*
    $("#select").on("click", function() {
  	 	if ( $("i.icon-arrow-down").length == 0 )  {
           $("#select").prop("checked", false);
  	 	}
    }); 
*/
    $("#select").on("click", function() {
      if ($("i.icon-arrow-up").is(":visible")) {
      	//$("#select").prop("checked", false);
      }
    });


    $('#select').mousedown(function(e) {
       e.stopPropagation();
       if ($("i.icon-arrow-up").is(":visible")) {
      	$("#select").prop("checked", false);
      }
      else if ($("i.icon-arrow-down").is(":visible")) {
        $("#select").prop("checked", true);
      }
    });


    $('#select').mouseup(function(e) {
       e.stopPropagation();
       /* if ($("i.icon-arrow-up").is(":visible")) {
      	$("#select").prop("checked", false);
      }
      else if ($("i.icon-arrow-down").is(":visible")) {
        $("#select").prop("checked", true);
      }  */
    });



    $("#select").on("click", function() {
        if ( $("#select").prop("checked") && $("i.icon-arrow-up").attr("display", "hidden"))  {
           $("#select").prop("checked", true);
  	 	}

  	 /*	if ( !$("#select").prop("checked") && $("i.icon-arrow-up").attr("display", "block"))  {
  	 	  $("h1").trigger('click');
         //  $("#select").prop("checked", false);
  	 	}
  	 */	

    }); 

/*
    $("#select").change(function(ev){
       ev.preventDefault();
       var checked = document.getElementById("select").checked; 
       console.log("Before: " + checked);
       if ($("#select").prop("checked", true))  {
    	console.log("After: " + checked);
    	//var check = document.getElementById("select").checked; 
    	//alert(check);
           $("#select").prop("checked", false);
        }
        return true;
    }); 

*/   


    //$("input.form-control").removeAttr("value");

   /* $('#form-submit').on('click', function(){
    	$("input.form-control").attr("disabled", "false");
    	alert("clicked");
     });  

  */


  $('#report_form').submit(function(ev) {
    ev.preventDefault(); // to stop the form from submitting
    $("input.form-control").removeAttr('disabled');

   

   // $("input.form-control").attr("value", "1");
   // var date1 = $("input.form-control")[0].attr("val");
    //alert(date1);
    this.submit(); // If all the validations succeeded
  });


  //	$(".aoyue-select > label").append("<input type='radio' name='option'><span class='title animated fadeIn'><i class='icon icon-fire'></i>Hey</span>");

  /*	$(document).off('.datepicker.data-api');

  	$('i').on('click', function(e){
        $(document).on('.datepicker.data-api');
        $('.datepicker').datepicker({
        
    	//ignoreReadonly: true
    });
    

          console.log("Clicked");



     }); 

     */
    
  /*  $('div').on('click', function(e){
    	//alert("Pressed");
        e.preventDefault();
        return false;
     })  */

   /* $('.datepicker').datepicker({
    	//ignoreReadonly: true
    });  */







    //$('#enable').click(function(){
 $('#dateRangePicker1, #dateRangePicker2')
        .datepicker({
            format: 'dd/mm/yyyy',
            startDate: '01/01/2016',
            endDate: '12/30/2025',
			autoclose: true,
			enableOnReadonly: false
        });
	});
    //});

$('#disable').click(function(){
 $(document).off('.datepicker.data-api');





  });

</script>