<head>
  <%= stylesheet_link_tag  "application", :media => "all" %>


<%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap3.min", "bootstrap-1.4.1-datepicker.min", "bootstrap-datepicker.da.min" %>


</head>


<style>
/*
   input.form-control {
   	pointer-events: none;
   	cursor:not-allowed;
   }

   */
  .notype {
    cursor:not-allowed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


body {
 /* width: 100%;
  min-height: 500px;
  margin: 3em auto;  */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7cac9+0,92a8d1+100 */
/*  background: #f7cac9; */
 /* background: #f5f5f5; */
  /* Old browsers */
 /* background: -moz-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%); */
  /* FF3.6-15 */
 /* background: -webkit-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%); */
  /* Chrome10-25,Safari5.1-6 */
 /* background: linear-gradient(135deg, #f7cac9 0%, #92a8d1 100%); */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 fallback on horizontal gradient */
  font-family: 'Roboto', sans-serif;
 /* letter-spacing: 1px;  */
 /*position: absolute; */ 
}


div#form_container {
	position: absolute;
}

label {
	margin-bottom: 0px;
}

i:hover {
	cursor:pointer;
}


form {
	position:fixed;
	/* overflow: scroll; */
}




</style>

<%= link_to :controller => 'home', :action => 'index' do %>
  <button type="button" class="btn btn-info">Back to Main Menu</button>
<% end %>


<h1 id="report_title" class="mt-2">Generate Royalty Report</h1>


<div class="container" id="form_container">







<div class="mt-5 col offset-1" id="form_parent">
  <%= form_tag({controller: "reports", action: "report"}, method: "post", :id => "report_form") do |f| %>

  <!--
	<div class="aoyue-select animated zoomIn" id="select-form">  -->
	    <!-- You can toggle select (disabled) -->
   <!--	    <input type="radio" id="select" name="option" >
	    <i class="toggle icon icon-arrow-down" id="i-down"></i>
	    <i class="toggle icon icon-arrow-up"></i>
	    <span class="placeholder" id="select_input">Select Artist</span>
	    <% @artists.each do |artist| %>
		    <label class="option" for="id_<%= artist.id %>">
		      <input type="radio" class="name_swap" name="option" id="id_<%= artist.id %>" value=<%= artist.id %> >
		      <span class="title animated fadeIn"><i class="icon icon-fire"></i><%= artist.e_name %></span>
		    </label>
	    <% end %>
	</div>

	-->

     <div class="col-sm-2 mx-auto">
       <div class="col mx-auto"><span>Artist</span></div>
       <select name="artist_id" form="report_form">
        <option></option> 
        <% @artists.each do |artist| %>
		    <option value="<%= artist.id %>"><%= artist.e_name %></option>
	    <% end %>
      </select>
     </div>



    <div class="row mt-4 align-items-center">
        <div class="col-sm-2 offset-1">
	       <%= label(:start_date, "Start Date") %>

	        <div class="input-group date" id="dateRangePicker1" >
	          <%= text_field_tag "start_date", '', class: "form-control", readonly: "readonly", disabled: "true" %>
	          <span class="input-group-addon add-on">
	             <i class="glyphicon glyphicon-calendar"></i>
	           </span>  
	        </div>
        </div> <!--col-->

        <div class="col-sm-2 offset-3">
	       <%= label(:end_date, "End Date") %>

	        <div class="input-group date" id="dateRangePicker2" >
	          <%= text_field_tag "end_date", '', class: "form-control", readonly: "readonly", disabled: "true" %>
	          <span class="input-group-addon add-on">
	             <i class="glyphicon glyphicon-calendar"></i>
	           </span>  
	        </div>
	    </div> <!--col-->    
    </div> <!--row-->    

    <div class="row mt-3 align-items-cneter">
      <div class="col-sm-2 mx-auto">
         <%= submit_tag("Submit", :id => "form-submit") %>
      </div> 
    </div> <!--row-->
  <% end %> 
</div>


</div>







<script type="text/javascript">
  $(document).ready(function(){

  	$('#report_form').submit(function(ev) {
       ev.preventDefault(); // to stop the form from submitting
       $("input.form-control").removeAttr('disabled');

       this.submit(); // If all the validations succeeded
    });
  	

	$('#dateRangePicker1, #dateRangePicker2')
	    .datepicker({
	        format: 'mm/dd/yyyy',
	        startDate: '11/01/2016',
	        endDate: '12/30/2025',
			autoclose: true,
			enableOnReadonly: false
	    });
	});




</script>