<head>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap.min" %>
</head>


<style>
h1 {
	text-decoration: underline;
}

h3 {
	margin-top: 2%;
}

th {
  text-align: center;
  background: green;
  color: white;
  border: 1px solid black;
  font-weight: bold;
}

span.red {
	color: red;
}

span.blue {
	color: #6FC0DE;
}

td.pink {
	background: #ff1171;
	font-weight: bold;
}

</style>

<div class="container">
  <div class="row">
     <div class='col-sm-1'>
		<%= link_to :controller => 'reports', :action => 'index' do %>
		  <button type="button" class="btn btn-info">Generate New Report</button>
		<% end %>
    </div>	
    <div class='col-sm-1 offset-8'>
		<%= link_to :controller => 'reports', :action => 'index', :format => "xlsx", :option => @id, :start_date => @start_date, :end_date => @end_date do %>
		  <button type="button" class="btn btn-info">Download Report</button>
		<% end %>
    </div>	
  </div><!--row-->
</div><!--container-->

<h1>Royalty Report: <span class="blue"><%= @titles.first.artist.e_name %></span></h1>


<div class="container"> 
    <h3><span class="red"><%= @start_date_str %> - <%= @end_date_str %></span></h3>
	<table class="table table-responsive table-striped table-hover mx-auto">
	    <tr>
	      <th>Title</th>
	      <th>Downloads</th>
	      <th>SRP</th>
	      <th>Gross Sales</th>
	      <th>Dist. & Rate Fee</th>
	      <th>Net Sales</th>
	      <th>Rate</th>
	      <th>Royalty Due</th>

	    </tr>

       <% final_royalty = 0 %>
	   <% @titles.each do |title| %>

       <% sales_count = title.sales.where(:created_at => @start_date.beginning_of_day..@end_date.end_of_day).count %>
	   <% gross_sales = sales_count * title.srp %>
	   <% dist_fee = gross_sales * 0.3 %>
	   <% net_sales = gross_sales - dist_fee %>
	   <% rate_dec = 0.2 %>
	   <% royalty_due = (net_sales * rate_dec).round(2) %>
	   <% final_royalty = final_royalty + royalty_due %>


	        <tr style="text-align:center">
	          <td style="font-weight:bold"><%= title.e_title %></td> 
	          <td><%= sales_count %></td>
	          <td><%= number_to_currency(title.srp) %></td>
	          <td><%= number_to_currency(gross_sales) %></td>
	          <td style="color:red"><%= number_to_currency(dist_fee) %></td>
	          <td><%= number_to_currency(net_sales) %></td>
	          <td>20%</td>
	          <td><%= number_to_currency(royalty_due) %></td>
	        </tr>
	   <% end %>
	        <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="pink">Total</td>
              <td class="pink" style="text-align:center"><%= number_to_currency(final_royalty) %></td>


	        </tr>
	</table> 
</div>