<!DOCTYPE html>
<html>
<head>
  <title>ProjectH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-toggleable-sm bg-primary">
	<div class="container">
	   <div class="navbar-nav mx-auto">

		<%= link_to 'artists/index', :class => 'nav-item nav-link' do %>
         <button type="button" class="btn btn-outline-info btn-lg">Manage Artists</button>
        <% end %>

        <%= link_to 'titles/index', :class => 'nav-item nav-link' do %>
         <button type="button" class="btn btn-outline-info btn-lg">View Titles</button>
        <% end %>

        <%= link_to 'sales/index', :class => 'nav-item nav-link' do %>
         <button type="button" class="btn btn-outline-info btn-lg">View Sales</button>
        <% end %>

	   </div>	
	 </div><!-- navbar-nav -->
	</div><!--container-->
</nav> 
<%= yield %>

</body>
</html>
