<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name.presence || 'Embedded Shopify App Example' %></title>
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= javascript_include_tag  "jquery.slim.min", "tether.min", "bootstrap.min", "pagination" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main">
            <nav class="navbar navbar-inverse navbar-toggleable-sm">
              <div class="container">
                 <div class="navbar-nav mx-auto">

                <%= link_to :controller => 'artists', :action => 'index', :class => 'nav-item nav-link' do %>
                     <button type="button" class="btn btn-outline-info btn-lg">Manage Artists</button>
                    <% end %>

                    <%= link_to :controller => 'titles', :action => 'index', :class => 'nav-item nav-link' do %>
                     <button type="button" class="btn btn-outline-info btn-lg">View Titles</button>
                    <% end %>

                    <%= link_to :controller => 'sales', :action => 'index', :class => 'nav-item nav-link' do %>
                     <button type="button" class="btn btn-outline-info btn-lg">View Sales</button>
                    <% end %>

                    <%= link_to :controller => 'reports', :action => 'index', :class => 'nav-item nav-link' do %>
                     <button type="button" class="btn btn-outline-info btn-lg">Generate Report</button>
                    <% end %>

                 </div> <!---navbar-nav---->
               </div> <!---container-->
            </nav>
          <%= yield %>

          
          <!--Footer-->
          <footer class="page-footer indigo center-on-small-only pt-0">

              <!--Footer Links-->
              <div class="container">

                  <!--First row-->
                  <div class="row">

                      <!--First column-->
                      <div class="col-md-12">

                          <div class="footer-socials mb-5 flex-center">

                              <!--Facebook-->
                              <a class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
                              <!--Twitter-->
                              <a class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                              <!--Google +-->
                              <a class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>
                              <!--Linkedin-->
                              <a class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>
                              <!--Instagram-->
                              <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
                              <!--Pinterest-->
                              <a class="icons-sm pin-ic"><i class="fa fa-pinterest fa-lg white-text"> </i></a>
                          </div>
                      </div>
                      <!--/First column-->
                  </div>
                  <!--/First row-->
              </div>
              <!--/Footer Links-->

              <!--Copyright-->
              <div class="footer-copyright">
                  <div class="container-fluid">
                      © 2016 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
                  </div>
              </div>
              <!--/Copyright-->

          </footer>
          <!--/Footer-->
                



        </main>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <script type="text/javascript">
      ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: <%= Rails.env.development? ? 'true' : 'false' %>,
        forceRedirect: true
      });
    </script>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
